* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.magazine-cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas: "title title title"
  "feature-article feature-article cover-image"
  "small-article1 small-article2 cover-image";
  grid-template-rows: auto 1fr 1fr;
  width: 80%;
  margin: 80px auto;
  

}

.title {
  grid-area: title;
  justify-content: center; 
  padding: 40px;
  display: flex;
  align-items: center;
  background-color:  #0a0a23 ;
  color: #fff;
  font-family: arial;
  
}

.feature-article  {
  grid-area:feature-article ;
  
  padding: 10px;
}

.cover-image {
  grid-area: cover-image;
  background-color: #d3d3d3; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cover-image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.small-article1 {
  grid-area: small-article1;
  background-color:#d3d3d3;
  padding: 10px;
}

.small-article2 {
  grid-area: small-article2;
  background-color: #d3d3d3;
  padding: 10px;
}