

body {
  padding: 20px;
}

#main {
  background-color:#dcdcdc ;
  border-radius: 5px;
  padding: 10px;
}

#title, p, #img-caption, h2 {
  text-align: center;
}

#img-caption {
  
  margin-top: 10px; 
  padding-bottom: 10px;
}

#img-div {
  padding: 5px;
  background-color: #fdfff5 ;
  border-radius: 1px;
}

#image {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 10px;
}

#info {
  padding: 10px 10px 10px 20px;
}

span {
  font-weight: bold;
}

#more-info {
  font-weight: bold;
}

#quote p {
  text-align: left;
  
}